<div class="container">

  <%= render 'users/info', user: @user %>

</div>

<h2>Book detail</h2>
<div>
  <p><%= image_tag @book.user.get_profile_image, size: '100x100' %></p>
  <p><%= link_to @book.title, book_path(@book.id) %></p>
  <p><%= @book.opinion %></p>
  <%= link_to "Edit", edit_book_path(@book.id) %>
  <%= link_to "Destroy", book_path, method: :delete %>
</div>
  <p><%= @book.user.name %></p>